@charset "utf-8";
/* CSS Document of Bereka CMS © 2013. All rights reserved */
.short .qq-upload-button{padding: 0; text-align: left; background: none; border: none; text-decoration: underline; color: #000}
.adm_hidden{display: none!important;}

.crop_modal {position: absolute; left:50%; top: 50px; z-index:999; width:1000px; height:190px; margin:0 0 0 -500px;box-shadow:0 0 20px #000;}
.watermark_modal {position:fixed; left:50%; top: 50px; z-index:999; width:1000px; height:190px; margin:0 0 0 -500px;box-shadow:0 0 20px #000;}
/*.images_list .ui-state-highlight{float: left}*/
.crop_source{margin-left: 40px}

.admin_component.login,.admin_base {margin:20px 2%; width:96%;}

.menu ul li a:hover {background-color: transparent;}
#map div.gmnoprint,#map div.gmnoscreen,#map .gm-style-cc {display: none;}
a[href^="http://maps.google.com/maps"]{display:none !important}
a[href^="https://maps.google.com/maps"]{display:none !important}

.gmnoprint a, .gmnoprint span, .gm-style-cc {
    display:none;
}
.gmnoprint div {
    background:none !important;
}
/* Popup
---------------------------------*/
.popup {z-index: 9999; position: absolute; background: #0f0f0f; top: -100%; left: 40%;/* transform: translate(-50%, -50%) scale(0);*/ width: 460px; padding: 25px; transition: all .5s linear;}
.popup.active{top: 50%;/* transform: translate(-50%, -50%) scale(0);*/ transition: all .5s linear;}

.btn.btn-default.button { margin: 0 auto; }
/*--------------------------------------------------------------------     Basic style     --------------------------------------------------------------------*/

/* black background popup
-----------------------------------------*/
.black {position: fixed; top: 0; left: 0; right: 0; bottom: 0; z-index: 900; background: #000; opacity: .7; cursor: pointer;}
/* 404 page
--------------
/*------  common btn  ------*/
.common-btn{display: inline-block; text-align: center; position: relative; font: 700 14px/20px 'Roboto'; color: #494747; text-transform: uppercase; text-decoration: none;
    padding: 5px 40px; transition: all .3s linear;}
.common-btn:before{content: ''; position: absolute; width: 100%; height: 100%; bottom: 0; left: 0; background-color: #969696; transition: all .3s linear;}
.common-btn span{position: relative;}
.common-btn:hover{color: #969696; transition: all .3s linear;}
.common-btn:hover:before{height: 0; opacity: 0; transition: all .3s linear;}

/*---------- input style ----------*/
input, textarea {width: 100%; height: 34px; padding: 5px 10px; color: #333; background-color: #ccc; border: 1px solid transparent; font: 400 16px/24px 'Calibri';
    transition: all 0.3s linear 0s;}
input:focus, textarea:focus {border-color: #fff; transition: all 0.3s linear 0s;}
input.error, textarea.error {border-color: #ff0000; transition: all 0.3s linear 0s;}
textarea {height: 70px; position: static;}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {color: #969696;}
input:-moz-placeholder, textarea:-moz-placeholder {color: #969696; opacity: 1;}
input::-moz-placeholder, textarea::-moz-placeholder {color: #969696; opacity: 1;}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {color: #969696;}

.input-place{width: 100%;}
.input-item{width: 100%; margin: 0 0 15px;}
/*------------ benefits-services ------------------*/
input.btn-add { max-width: 10%; display: block; float: left; margin: 20px 15%; }
input.btn-add:hover { background-color: #d2d2d2;color: #fff; }
input.btn-add:active { background-color: #d6d6d6; color: #fff; }
